# Visual Studio
.vs/
*.sln
*.user
*.suo
*.userprefs
*.csproj.user
*.csproj.nuget.g.props
*.csproj.nuget.g.targets

# Visual Studio
.Roguelike/bin
.Roguelike/obj
.Roguelike/Roguelike/obj
.Roguelike/Roguelike/bin
